#LocationDetailsView {
    padding-top: 5%;
}

#LocationDetailsView .item {
    box-shadow: 0 0 2px 0;
}

@media only screen and (max-width: 600px) {
    #LocationDetailsView {
        padding-top: 0%;
    }
}