.SingleLocation {
    margin-bottom: 1%;
    background-color: #fff;
    padding: 0.2%;
    border-radius: 5px;
    box-shadow: 0 0 2px 0;
}

.SingleLocation .location-btn {
    width: 65px;
}

@media only screen and (max-width: 600px) {
    .SingleLocation .margin-1p {
        margin-top: 1%; 
    }
    .SingleLocation {
        border-radius: 0px;
    }
}