#AppWrapper {
    position: relative;
    height: 100vh;
    background-color: #e6dddd;
}

#AppWrapper #header {
    background-color: #0f4a65;
    height: 7vh;
    color: #fff;
}

#header #screen-title {
    font-size: 1.2em;
    text-align: center;
}

#AppWrapper #footer {
    background-color: #0f4a65;
    height: 7vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}

@media only screen and (max-width: 600px) {
    #AppWrapper {
        font-size: 0.8em;
    }
    #header #screen-title {
        font-size: 0.9em;
    }
    #AppWrapper #header, #AppWrapper #footer {
        height: 9vh;
    }
}