.SingleCategory {
    margin-bottom: 1%;
    background-color: #fff;
    padding: 0.2%;
    border-radius: 5px;
    box-shadow: 0 0 2px 0;
}

#CategoriesView .selected {
    background-color: #9ed262;
}

.SingleCategory .category-btn {
    width: 65px;
}

@media only screen and (max-width: 600px) {
    .SingleCategory .margin-1p {
        margin-top: 1%; 
    }
    .SingleCategory {
        border-radius: 0px;
    }
}